@import './css/nftbookers.css';
@import './css/token-distribution.css';
@import './css/strategic-partner.css';
@import './css/contactus.css';
* {
    /* border: 1px solid #FFFFFF; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    color: #FFFFFF;
}
:root {
    --blue: #2F80ED; 
    --brownie: #E1D5CB;
    --bg: #000428;
    --grey: #E1D5CB;
    --grey3: #828282;
    --bowl: linear-gradient(
        to right,
        #EF32D9 0%,
        #89FFFD 100%
    );
}
.lg-text-size {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;    
}
.bold-24 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    color: #F7F5F3;
}
.bold-32 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.bold-48 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.bold-linear {
    background: linear-gradient(
        95deg,
        #99644F 0%,
        #A57F62 32%,
        #DBC0B0 71%,
        #E8E1DA 100%
      );
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.regular-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500px;
    font-family: "Lato", sans-serif;    
}
.regular-14 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500px;
    font-family: "Lato", sans-serif;    
}
.bold-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700px;
    font-family: "Lato", sans-serif;    
}
.bg-linear {
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 
    inset 0px 188px 100px rgba(96, 68, 144, 0.3),
    inset 0px 1px rgba(0, 0, 0, .2);
    border-radius: 20px;
}
html {
    width: 1440px;
    background-color: var(--bg);
    /* border: 1px solid; */
    
}
section {
    /* border: 1px solid; */
}

/* .first-homepage {
    height: 900px;
    background-image:
        url(./svg/Teal.svg),
        url(./svg/Dark.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative; 
    z-index: 110;
} */

.first-homepage {
    height: 900px;
    position: relative;
}

.first-homepage::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    background-image: url(./svg/Teal.svg), url(./svg/Dark.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 1; /* Đặt nền phía sau */
}


.mockup-app {
    /* border: 1px solid; */
    width: 1004px;
    height: 845px;
    bottom: -55px ;
    background-image: url(./img/Mockup-app.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2; /* Đặt mockup-app phía sau nền */
}
.ellipse-5 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1183px;
    top: 737px;
    border-radius: 50%;
    background: linear-gradient(to right, #3023AE,#C86DD7);
}
.ellipse-33 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 621px;
    top: 241px;
    border-radius: 50%;
    background: linear-gradient(to right, #000428,#004E92);
    
}
.ellipse-44 {
    position: absolute;
    width: 316px;
    height: 301px;
    left: 1078px;
    top: 346px;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(to bottom, #BB19DF, rgba(21,41,227,0.83));
}

.blur-rectangle-1 {
    position: absolute;
    width: 690px;
    height: 900px;
    background-color: rgba(255, 255, 255, 0.01);
    right: 0px;
    top: 0px;   
    z-index: -1;
    box-shadow: 
        inset 0px 39px 56px rgba(255, 255, 255, .5),
        inset 0px -82px 68px rgba(96, 68, 144, .3),
        inset 0px 98px 100px rgba(202, 172, 255, .3),
        inset 0px 1px 0px rgba(154, 146, 2, .3),
        inset 0px 39px 56px rgba(0, 0, 0, .2) ;
    backdrop-filter: blur(60px) !important;

}
.welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 300px;
    gap: 40px;
}
.welcome-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 100px;
    padding-right: 24px;
}
.welcome-title h2 {
    width: 456px;
}
.welcome-direction {
    display: flex;
    flex-direction: column;
    gap:24px;

}
.welcome-button {
    display: flex;
    flex-direction:  row;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 24px;
    width: fit-content;

}
.welcome-p {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 24px;
}

.welcome-p p {
    width: 389px;
}

.bowl-button .no-rotate {
    transform: none;
}
h1 {
    width: fit-content;
}
/* #first-homepage * {
    border: 1px solid;
} */
