@import './css/nftbookers.css';
@import './css/token-distribution.css';
@import './css/strategic-partner.css';
* {
    /* border: 1px solid #FFFFFF; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    color: #FFFFFF;
}
:root {
    --blue: #2F80ED; 
    --brownie: #E1D5CB;
    --bg: #000428;
    --grey: #E1D5CB;
    --grey3: #828282;
    --bowl: linear-gradient(
        to right,
        #EF32D9 0%,
        #89FFFD 100%
    );
}
.lg-text-size {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;    
}
.bold-32 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.bold-48 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.bold-linear {
    background: linear-gradient(
        95deg,
        #99644F 0%,
        #A57F62 32%,
        #DBC0B0 71%,
        #E8E1DA 100%
      );
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.regular-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500px;
    font-family: "Lato", sans-serif;    
}
.regular-14 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500px;
    font-family: "Lato", sans-serif;    
}
.bold-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700px;
    font-family: "Lato", sans-serif;    
}
.bg-linear {
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 
    inset 0px 188px 100px rgba(96, 68, 144, 0.3),
    inset 0px 1px rgba(0, 0, 0, .2);
    border-radius: 20px;
}
html {
    width: 1440px;
    background-color: var(--bg);
    border: 1px solid;
}
section {
    border: 1px solid;
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px 100px;
}
.contact-us-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contact-us-form {
    display: flex;
    flex-direction: column;
}
.contact-us-form-text {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.contact-us-form-text fieldset {
    display: flex;
    flex-direction: column;
    border: hidden;
    gap: 24px;
}
.contact-us-form-text fieldset label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.contact-us-form-text fieldset input {
    width: 600px;
    padding: 16px 24px;
    border: hidden;
}
.contact-us-form-text fieldset input::placeholder {
    color: var(--grey3);
}
.contact-us-form-text fieldset textarea {
    width: 600px;
    height: 266px;
    padding: 16px 24px;
    border: hidden;
}
.contact-us-form-text fieldset textarea::placeholder {
    color: var(--grey3);
}

/* #token-distribution * {
    border: 1px solid;
} */
