@import './css/nftbookers.css';
* {
    /* border: 1px solid #FFFFFF; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    color: #FFFFFF;
}
:root {
    --blue: #2F80ED; 
    --brownie: #E1D5CB;
    --bg: #000428;
    --grey: #E1D5CB;
    --bowl: linear-gradient(
        to right,
        #EF32D9 0%,
        #89FFFD 100%
    );
}
.lg-text-size {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;    
}
.bold-32 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.regular-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500px;
    font-family: "Lato", sans-serif;    
}
html {
    width: 1440px;
    background-color: var(--bg);
    border: 1px solid;
}
section {
    border: 1px solid;
}
